.bg {
    background-color: blueviolet;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

.col-form-label-lg {
    color: black;
    font-weight: 500;
}

.form-control {
    border: 10px;
    border-width: 5px;
    border-color: #93C1F9;
    border-style: solid;
    border-radius: 5px;
}